{% extends 'finance_share_app/finance_share_home.html' %}

{% block subcontent %}
<h2>Document:</h2>
<div>
    <h3>Docref: {{ document.docref }}</h3>
    <a href="{{ document.file.url }}" target="_blank">View Document</a><br><br>
    <div class="container" style="background-color: #a3a3a3">
        <h3>Claims:</h3>
        {% for claim in claims %}
        <p>{{ claim.description }}</p>
        <p>{{ claim.amount }}</p>
        <a href="{% url 'info_claim' claim_pk=claim.pk %}" class="btn btn-info" role="button">More Info</a>
        <a href="{% url 'edit_claim' document_pk=document.pk claim_pk=claim.pk %}" class="btn btn-default" role="button">Edit Claim</a><br><br>
        {% endfor %}
        <br>
    </div>
    <br>
    <a href="{% url 'add_claim' document_pk=document.pk %}" class="btn btn-default" role="button">Add Claim</a><br>
    <br>
</div>

{% endblock %}