{% extends 'finance_share_app/finance_share_home.html' %}

{% block subcontent %}
<h2>Document:</h2>
<div>
    <h3>Docref: {{ document.docref }}</h3>
    <a href="{{ document.file.url }}" target="blank">View document</a><br><br>
    <div class="container" style="background-color: #a1a1a1">
        <h3>Claims:</h3>
        {% for claim in claims %}
        <p>{{ claim.description }}</p>
        <p>{{ claim.amount }}</p>
        <a href="{% url 'view_claim' document_pk=document.pk %}" class="btn btn-info" role="button">More Info</a>
        <a href="{% url 'edit_claim' document_pk=document.pk claim_pk=claim.pk %}" class="btn btn-default" role="button">Edit</a><br>
        {% endfor %}
    </div>
</div>
<div>
    <h3>{{ page }} Claim</h3>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-2"><label>Description: </label></div>
            <input type="text" name="description" value="{{ context.description }}" placeholder="What are you claiming for?"><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>amount: </label></div>
            <input type="Number" name="amount" value="{{ context.amount }}" step="0.01" placeholder="0.00"><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Notes: </label></div>
            <textarea name="notes" rows="10" cols="30" placeholder="Do you have something more to say?">{{ context.notes }}</textarea><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Who will this be shared with: </label></div>
            <p>{{shareusers}}</p>
            {%for user in users%}
            <label><input type="checkbox" name="checkbox" value={{user.pk}} {% if user in context.shareusers %} checked {% endif %}>{{ user }}</label>
            {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary" name="save">Save Claim</button>
        <button type="submit" class="btn btn-primary" name="saveadd">Save Claim and add another claim</button>
    </form>
</div>

{% endblock %}