{% extends 'base.html' %}

{% block content %}
<div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="jumbotron">
            <h1>Finance share app</h1>
        </div>
        {% block subcontent %}
        <div>
            <a href="{% url 'upload_new_claim' %}" class="btn btn-default" role="button">Start new claim</a>
            <div>
                <p>Upload a new document for claiming</p>
            </div>
        </div>
        <div>
            <a href="{% url 'manage_claims' %}" class="btn btn-default" role="button">Manage Claims</a>
            <div>
                <p>View uploaded claims and manage them</p>
            </div>
        </div>
        <div>
            <a href="{% url 'report_select' %}" class="btn btn-default" role="button">Reports</a>
            <div>
                <p>Get reports on claims</p>
            </div>
        </div>
        {% endblock %}
    </div>
    {% else %}
    <div>
        <h3>Please log in or create an account</h3>
    </div>
    {% endif %}
</div>
{% endblock %}
