{% extends 'base.html' %}

{% block content %}
  <div>
    {% if user.is_authenticated %}
      <div>
        <h4>Finance management</h4>
        <div>
          <a href = "{% url 'document_list' %}" class="btn btn-default" role="button">Manage Docs</a>
          <div>
            <p>Manage see uploaded docs and upload new docs</p>
          </div>
        </div>
        <div>
          <a href = "{% url 'claim_list' %}" class="btn btn-default" role="button">Manage Claims</a>
          <div>
            <p>View uplaoded claims and submit new claims</p>
          </div>
        </div>
        <div>
          <a href = "{% url 'report_select' %}" class="btn btn-default" role="button">Reports</a>
          <div>
            <p>Get reports on claims</p>
          </div>
        </div>
      </div>
    {% else %}
      <div>
        <h3>Please log in or create an account</h3>
      </div>
    {% endif %}
  </div>
{% endblock %}
