{% extends 'finance_share_app/finance_share_home.html' %}

{% block subcontent %}
    <h2>Upload Document</h2>
    <form method="POST" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row">
            <div class="col-sm-2"><label>Document Reference: </label></div>
            <input type="text" name="docref"><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Purchase Date: </label></div>
            <input type="date" name="purchasedate"><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>Notes: </label></div>
            <textarea name="notes" rows="10" cols="30"></textarea><br><br>
        </div>
        <div class="row">
            <div class="col-sm-2"><label>File: </label></div>
            <input type="file" name="file"><br><br>
        </div>
      <button type="submit" class="btn btn-primary" name="save">Save Document</button>
      <button type="submit" class="btn btn-primary" name="saveadd">Save Document and add a claim</button>
    </form>
{% endblock %}
