{% load staticfiles %}

<html>
  <head>
    <title>Room Mate Management</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <!--<link rel="stylesheet" href="{% static 'css/base.css' %}">-->
  </head>
  <body background:url(static\content\pictures\homepage.jpg)>
    <div>
      <div>
        <a href="{% url 'homepage' %}">Home</a>
        {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
          <a href="{% url 'view_profile' %}">Profile</a>
        {% else %}
          <a href="{% url 'login' %} ">Login</a>
          <a href="{% url 'register' %}">Register</a>
        {% endif %}
      </div>
    </div>
    <div>
      <div>
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>
